<h1>Clients Home Page</h1>
<p>Name: <%= @client.name %></p>
<p>Age: <%= @client.age %></p>

<%= link_to "Edit Profile", "/clients/#{@client.id}/edit"%>
<%= button_to "Delete Profile", "/clients/#{@client.id}", method: :delete, data: {confirm: "This action is irreversible. Are you sure?"} %>
