

<div id="page-content">
  <div class="container" id="home-container">
    <div class="jumbotron text-center text-align-top text-align-center">
      <h1 class="display-4">Welcome to Hairdo!</h1>
      <p class="lead"></p>
      <hr class="my-4">
      <p>Easiest place to find your next forever hairstylist.</p>
      <a class="btn btn-light btn-lg" href="/clients/new" role="button">Sign Up</a>
    </div>
  </div>
</div>

<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>  <%= link_to "Index Page", stylists_path, class: "text-white" %>
      <%= link_to "Become a Stylist",  "/stylists/new", class: "text-white" %>
      <%= link_to "All Clients", "/clients", class: "text-white" %>
    </small>
  </div>
</footer>
