<h1>Stylist</h1>
<hr>

<div class="container">

  <% @stylists.each do|stylist| %>
    <div class="card shadow mb-5 bg-white rounded">
      <div class="row no-gutters">
        <div class="col-auto">
          <img src="//placehold.it/200" class="img-fluid" alt="">
        </div>
        <div class="col">
          <div class="card-block px-2">
            <h4 class="card-title"><%= link_to stylist.name, stylist_path(stylist) %></h4>
            <p class="card-text"><%= stylist.bio %></p>
            <a href="/appointments/new" class="btn btn-primary">Schedule Appointment</a>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>
